.followerBar {
  max-width: 900px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 15vh;
  border: 1px solid black;
  background-color: azure;
  display: flex;
  align-items: center;
  width: 85%;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  /* visibility: hidden; */
}

.followerBar:hover {
  overflow-x: visible;
  /* visibility: visible; */
}

::-webkit-scrollbar {
  /* width: 2px; */
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(147, 223, 147);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.followerBar__follower {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.followerBar__avatar {
  border: 2px solid red;
  transition: 0.3s ease;
}
.followerBar__avatar:hover {
  transform: scale(1.09);
}
